/* general styles  */
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #283136;
}

/* Header styles */
.top-header {
  display: flex;
  flex-direction: column;
  background: #eeeeee;
  padding: 25px 140px 0px 140px;
}
.main-navigation {
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
  background: #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-logo {
  width: 20%;
}

.basket {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.site-navigation {
  display: flex;
  justify-content: center;
  width: 60%;
}

.site-navigation-item {
  margin-left: 25px;
  margin-right: 25px;
}

.services h3,
.statistic h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.main-footer h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #000000;
}

.top-header h2 {
  font-size: 3.4375rem;
  font-weight: 500;
  color: #000000;
}

/* main  */
.order-services {
  display: flex;
  justify-content: center;
}

.order-services-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-item,
.sorting p,
.contact-us h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #000000;
}

.slide-item h1 {
  font-size: 3.4375rem;
  font-weight: 500;
  color: #000000;
  width: 525px;
}

.description h1 {
  font-size: 2.8125rem;
  font-weight: 500;
  color: #000000;
}

.sorting-item-active {
  font-size: 0.875rem;
  color: #000000;
  font-weight: 400;
}

.sorting-item {
  font-size: 0.875rem;
  color: #a6a6a6;
  font-weight: 400;
}

.page-counter {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: #000000;
}

.filter {
  display: flex;
  justify-content: center;
}

.catalog {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.catalog-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sorting {
  display: flex;
}

.sorting-list,
.arrows {
  display: flex;
}

.slide-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: url("../img/slide1.png") no-repeat #eeeeee right;
  height: 413px;
}

.slide-item:nth-child(2) {
  background: url("../img/slide2.png") no-repeat #eeeeee right;
}

.slide-item:nth-child(3) {
  background: url("../img/slide3.png") no-repeat #eeeeee right;
}

.general-info {
  display: flex;
}

.statistic-list {
  display: flex;
}

.list-of-logos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
/* footer  */
.main-footer {
  display: flex;
  justify-content: center;
}

.social-media {
  display: flex;
  align-items: center;
}

/* buttons  */
.btn {
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background: #fb565a;
}

/* popup  */
.hidden {
  display: none;
}
